<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>I've been to so many rectangles!</title>
    </head>
    <body>
        <p>test</p>
            {% if places is not empty %}
                <p>Here's your rectangles</p>
                <ul>
                {% for place in places %}
                    <li>{{ place.getCity }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    </body>
</html>
