<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Places I have Rectangle!</title>
</head>
<body>
    <div class='container'>
        <h1>Places You've Been</h1>
        <p>Enter the places you've been.</p>
        <form action='/cities' method='post'>
            <div class='form-group'>
              <label for='city'>Enter the city:</label>
              <input id='city' name='city' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Create</button>
        </form>
    </div>
</body>
</html>
